#body-login {
    background-image: url('../imagens/bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    height: 100vh;
}
/* From Uiverse.io by shah1345 */ 
.button2 {
    display: inline-block;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    z-index: 1;
    color: #090909;
    width: 40%;
    padding: 0.7em 1.7em;
    cursor: pointer;
    font-size: 18px;
    border-radius: 0.5em;
    background: #6befc5;
    border: 1px solid #e8e8e8;
    box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
  }
  
  .button2:active {
    color: #666;
    box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
  }
  
  .button2:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  }
  
  .button2:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: #009087;
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  }
  
  .button2:hover {
    color: #ffffff;
    border: 1px solid #009087;
  }
  
  .button2:hover:before {
    top: -35%;
    background-color: #009087;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  }
  
  .button2:hover:after {
    top: -45%;
    background-color: #009087;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  }

  
  .config-container {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .config-options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .option {
    width: 150px;
    height: 150px;
    margin: 10px;
    color: black;
    background-color: #6befc5;
    border: 1px solid #efefef;
    border-radius: 10px;
    padding-left: 7px;
    padding-right: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
       
  }
  
  .option:hover {
    background-color: #63d8b3;
  }
  
  .option input[type="checkbox"] {
    margin-right: 10px;
  }
  
  .option label {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    cursor: pointer;
  }
  
  
  .submenu {
    display: none;
    position: absolute;
    overflow: hidden;
    background-color: #63d8b3;
    border: 1px solid #ddd;
    padding: 10px;
    width: 200px;
  }
  
  .submenu h2 {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
  }
  
  .submenu ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .submenu li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    transition: background-color 0.2s ease;
  }
  
  .submenu li:hover {
    background-color: #f7f7f7;
  }
  
  .submenu li:last-child {
    border-bottom: none;
  }
  
  .option:hover .submenu {
    display: block;
  }